.logo-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark-color);
    padding: 2em 0;
    min-height: 200px;
    .logo-section__wrapper{
        text-align: center;
        .logo-section__logo{
            display: block;
            width: 150px;
            height: 150px;
            border-radius: 100%;
        }
        .logo-section__title{
            font-size: 1.5rem;
            font-weight: normal;
            color: var(--text-color);
        }
    }

 
}

.center{
    text-align: center;
    font-size: 15px;
    padding: 10px;

}



.rounded {
    width: 60px;
    height: 60px;
    --border-radius: 60%;
    vertical-align: middle;
  }