<ion-content class="animated fadeIn login ion-padding">
  <div class="login-content">
    <div class="animated fadeInDown ion-padding-horizontal ion-text-center">

      <div class="logo"></div>
      <h2 class="text-primary">
        <strong>App</strong> Ing Bioservicios
      </h2>

    <br>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <div class="wrap-input100 m-b-23">
          <ion-item>           
              <ion-label position="floating" class="pegar-texto" class="text-primary"><ion-icon name="eye" slot="start" class="text-primary"></ion-icon> Usuario</ion-label>
              <ion-input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required></ion-input>
              
          </ion-item>

      </div>
      
      <div class="wrap-input100 m-b-23">
          <ion-item>           
              <ion-label position="floating" class="pegar-texto" class="text-primary"><ion-icon name="eye" slot="start" class="text-primary"></ion-icon> Contraseña</ion-label>
              <ion-input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required></ion-input>
          </ion-item>
      </div>
      <p class="password">Olvidé mi contraseña</p>
      <br>
     <ion-button type="submit" value="entrar" expand="block" [disabled]="!loginForm.form.valid">Ingresar</ion-button>
      </form>
      </div> 
     
  </div>

</ion-content>
 