<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-menu-button></ion-menu-button> 
    </ion-buttons>
    <ion-title>Equipos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addEquipo()">  
          <ion-icon name="add"></ion-icon> 
        </ion-fab-button>
      </ion-fab>

      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
  
      <ion-list> 
          <ion-list-header>
            Equipos
          </ion-list-header>
          <ion-item button *ngFor="let equipo of _es.equipos">
              <ion-icon slot="start" name="contact" style="color: #3880ff"></ion-icon>
              <ion-label>
                <h2>{{ equipo.nombre }}</h2>
                <h4>{{ equipo.codigo }}</h4> 
                <p>{{ equipo.user.nombre }}</p>
              </ion-label>
            </ion-item>
        </ion-list>

        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content
              loadingSpinner="bubbles"
              loadingText="Cargando mas equipos...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>

</ion-content>
